<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings">
            <i class="fa-regular fa-compass"></i>
            <span style="margin-left: 0.5rem; font-weight: 700; color: #6366f1; font-size: 1.25rem;">StayHub</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">                
                <a class="nav-link" href="/listings">Explore</a>
            </div>

            <div class="navbar-nav ms-auto d-flex align-items-center">
                <a class="nav-link" href="/listings/new">List Your Property</a>
                <% if(!currUser) { %>
                    <a class="nav-link" href="/signup"><b>Sign up</b></a>
                    <a class="nav-link" href="/login"><b>Log in</b></a>
                <% } %>

                <% if(currUser) { %>
                    <a class="nav-link" href="/logout"><b>Log out</b></a>
                <% } %>
            </div>
        </div>
    </div>
</nav>